In [84]:
import sys
import os

# Add the scripts directory to the system path
sys.path.append(r"D:\Kifya_training\Week 1\Financial-News-Sentiment-Analysis\scripts")
import pandas as pd
import talib as ta
from data_loader import load_data
from visualization import (
    plot_distribution, 
    plot_bar, 
    plot_word_cloud,
    plot_sentiment_distribution,
    plot_sentiment_categories,
    plot_daily_publication,
    plot_hourly_publication,
    plot_heatmap
)

In [85]:
import os

# Define the base directory for the stock data
base_dir = r"D:\Kifya_training\Week 1\Technical  Content\Data\yfinance_data"

# Define file paths for each stock with correct filenames
file_names = [
    "AAPL_historical_data.csv",
    "AMZN_historical_data.csv",
    "GOOG_historical_data.csv",
    "META_historical_data.csv",
    "MSFT_historical_data.csv",
    "NVDA_historical_data.csv",
    "TSLA_historical_data.csv"
]

required_columns = ['Open', 'High', 'Low', 'Close', 'Volume']

def load_data(file_path):
    return pd.read_csv(file_path)

for file_name in file_names:
    file_path = os.path.join(base_dir, file_name)
    if os.path.exists(file_path):
        df = load_data(file_path)
        missing_columns = [col for col in required_columns if col not in df.columns]
        if not missing_columns:
            print(f"The dataset {file_name} contains all required columns.")
        else:
            print(f"The dataset {file_name} is missing columns: {missing_columns}")
    else:
        print(f"Error: The file at {file_path} does not exist.")

The dataset AAPL_historical_data.csv contains all required columns.
The dataset AMZN_historical_data.csv contains all required columns.
The dataset GOOG_historical_data.csv contains all required columns.
The dataset META_historical_data.csv contains all required columns.
The dataset MSFT_historical_data.csv contains all required columns.
The dataset NVDA_historical_data.csv contains all required columns.
The dataset TSLA_historical_data.csv contains all required columns.

In [86]:

# Display each dataset's head 
for file_name in file_names:
    file_path = os.path.join(base_dir, file_name)
    print(f"\n\nChecking file path: {file_path}")
    if os.path.exists(file_path):
        df = load_data(file_path)
        print(f"\nFirst few rows of data from {file_name}:")
        display(df.head())  # This will display the head of each DataFrame in separate cells if using Jupyter Notebook
    else:
        print(f"Error: The file at {file_path} does not exist.")

Checking file path: D:\Kifya_training\Week 1\Technical  Content\Data\yfinance_data\AAPL_historical_data.csv

First few rows of data from AAPL_historical_data.csv:

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

Checking file path: D:\Kifya_training\Week 1\Technical  Content\Data\yfinance_data\AMZN_historical_data.csv

First few rows of data from AMZN_historical_data.csv:

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000,0.0,0.0
1,1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000,0.0,0.0
2,1997-05-19,0.088021,0.088542,0.081250,0.085417,0.085417,122136000,0.0,0.0
3,1997-05-20,0.086458,0.087500,0.081771,0.081771,0.081771,109344000,0.0,0.0
4,1997-05-21,0.081771,0.082292,0.068750,0.071354,0.071354,377064000,0.0,0.0

Checking file path: D:\Kifya_training\Week 1\Technical  Content\Data\yfinance_data\GOOG_historical_data.csv

First few rows of data from GOOG_historical_data.csv:

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2004-08-19,2.490664,2.591785,2.390042,2.499133,2.496292,897427216,0.0,0.0
1,2004-08-20,2.515820,2.716817,2.503118,2.697639,2.694573,458857488,0.0,0.0
2,2004-08-23,2.758411,2.826406,2.716070,2.724787,2.721690,366857939,0.0,0.0
3,2004-08-24,2.770615,2.779581,2.579581,2.611960,2.608991,306396159,0.0,0.0
4,2004-08-25,2.614201,2.689918,2.587302,2.640104,2.637103,184645512,0.0,0.0

Checking file path: D:\Kifya_training\Week 1\Technical  Content\Data\yfinance_data\META_historical_data.csv

First few rows of data from META_historical_data.csv:

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2012-12-12,28.000000,28.139999,27.370001,27.580000,27.523441,46704200,0.0,0.0
1,2012-12-13,27.590000,28.750000,27.430000,28.240000,28.182087,81051600,0.0,0.0
2,2012-12-14,28.180000,28.330000,26.760000,26.809999,26.755020,91631600,0.0,0.0
3,2012-12-17,26.770000,27.000000,26.320000,26.750000,26.695143,57742500,0.0,0.0
4,2012-12-18,26.959999,27.910000,26.900000,27.709999,27.653173,60512900,0.0,0.0

Checking file path: D:\Kifya_training\Week 1\Technical  Content\Data\yfinance_data\MSFT_historical_data.csv

First few rows of data from MSFT_historical_data.csv:

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1986-03-13,0.088542,0.101563,0.088542,0.097222,0.059946,1031788800,0.0,0.0
1,1986-03-14,0.097222,0.102431,0.097222,0.100694,0.062087,308160000,0.0,0.0
2,1986-03-17,0.100694,0.103299,0.100694,0.102431,0.063158,133171200,0.0,0.0
3,1986-03-18,0.102431,0.103299,0.098958,0.099826,0.061552,67766400,0.0,0.0
4,1986-03-19,0.099826,0.100694,0.097222,0.098090,0.060482,47894400,0.0,0.0

Checking file path: D:\Kifya_training\Week 1\Technical  Content\Data\yfinance_data\NVDA_historical_data.csv

First few rows of data from NVDA_historical_data.csv:

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1999-01-22,0.043750,0.048828,0.038802,0.041016,0.037621,2714688000,0.0,0.0
1,1999-01-25,0.044271,0.045833,0.041016,0.045313,0.041562,510480000,0.0,0.0
2,1999-01-26,0.045833,0.046745,0.041146,0.041797,0.038337,343200000,0.0,0.0
3,1999-01-27,0.041927,0.042969,0.039583,0.041667,0.038218,244368000,0.0,0.0
4,1999-01-28,0.041667,0.041927,0.041276,0.041536,0.038098,227520000,0.0,0.0

Checking file path: D:\Kifya_training\Week 1\Technical  Content\Data\yfinance_data\TSLA_historical_data.csv

First few rows of data from TSLA_historical_data.csv:

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500,0.0,0.0
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500,0.0,0.0
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000,0.0,0.0
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000,0.0,0.0
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500,0.0,0.0

In [87]:

# Check for null values in each dataset
for file_name in file_names:
    file_path = os.path.join(base_dir, file_name)
    if os.path.exists(file_path):
        df = load_data(file_path)
        print(f"\nNull values in {file_name}:")
        print(df.isnull().sum())
    else:
        print(f"Error: The file at {file_path} does not exist.")

Null values in AAPL_historical_data.csv:
Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

Null values in AMZN_historical_data.csv:
Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

Null values in GOOG_historical_data.csv:
Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

Null values in META_historical_data.csv:
Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

Null values in MSFT_historical_data.csv:
Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

Null values in NVDA_historical_data.csv:
Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

Null values in TSLA_historical_data.csv:
Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

In [97]:
# Loop through each file, apply indicators, and display results
for file_name in file_names:
    file_path = os.path.join(base_dir, file_name)
    if os.path.exists(file_path):
        df = load_data(file_path)

        # Calculate 20-period Simple Moving Average (SMA)
        df['SMA20'] = ta.SMA(df['Close'], timeperiod=20)

        # Calculate 20-period Exponential Moving Average (EMA)
        df['EMA20'] = ta.EMA(df['Close'], timeperiod=20)

        # Calculate 14-period Relative Strength Index (RSI)
        df['RSI14'] = ta.RSI(df['Close'], timeperiod=14)

        # Calculate MACD
        df['MACD'], df['MACD_signal'], df['MACD_hist'] = ta.MACD(df['Close'], fastperiod=12, slowperiod=26, signalperiod=9)

        # Display the first 40 rows with the indicators
        print(f"\nFirst 40 rows of data from {file_name} with indicators:")
        display(df[['Close', 'SMA20', 'EMA20', 'RSI14', 'MACD', 'MACD_signal', 'MACD_hist']].head(40))
    else:
        print(f"Error: The file at {file_path} does not exist.")

First 40 rows of data from AAPL_historical_data.csv with indicators:

       Close     SMA20     EMA20      RSI14      MACD  MACD_signal  MACD_hist
0   0.128348       NaN       NaN        NaN       NaN          NaN        NaN
1   0.121652       NaN       NaN        NaN       NaN          NaN        NaN
2   0.112723       NaN       NaN        NaN       NaN          NaN        NaN
3   0.115513       NaN       NaN        NaN       NaN          NaN        NaN
4   0.118862       NaN       NaN        NaN       NaN          NaN        NaN
5   0.126116       NaN       NaN        NaN       NaN          NaN        NaN
6   0.132254       NaN       NaN        NaN       NaN          NaN        NaN
7   0.137835       NaN       NaN        NaN       NaN          NaN        NaN
8   0.145089       NaN       NaN        NaN       NaN          NaN        NaN
9   0.158482       NaN       NaN        NaN       NaN          NaN        NaN
10  0.160714       NaN       NaN        NaN       NaN          NaN        NaN
11  0.156808       NaN       NaN        NaN       NaN          NaN        NaN
12  0.152344       NaN       NaN        NaN       NaN          NaN        NaN
13  0.154018       NaN       NaN        NaN       NaN          NaN        NaN
14  0.150670       NaN       NaN  64.493312       NaN          NaN        NaN
15  0.143973       NaN       NaN  58.970446       NaN          NaN        NaN
16  0.137835       NaN       NaN  54.374496       NaN          NaN        NaN
17  0.135045       NaN       NaN  52.376308       NaN          NaN        NaN
18  0.142299       NaN       NaN  56.819433       NaN          NaN        NaN
19  0.141183  0.138588  0.138588  55.954525       NaN          NaN        NaN
20  0.136161  0.138979  0.138357  52.110399       NaN          NaN        NaN
21  0.136719  0.139732  0.138201  52.500873       NaN          NaN        NaN
22  0.139509  0.141071  0.138326  54.498568       NaN          NaN        NaN
23  0.138393  0.142215  0.138332  53.528777       NaN          NaN        NaN
24  0.146763  0.143611  0.139135  59.368572       NaN          NaN        NaN
25  0.142299  0.144420  0.139436  55.372003       NaN          NaN        NaN
26  0.145089  0.145061  0.139975  57.306456       NaN          NaN        NaN
27  0.146763  0.145508  0.140621  58.469647       NaN          NaN        NaN
28  0.146205  0.145564  0.141153  57.903330       NaN          NaN        NaN
29  0.143973  0.144838  0.141422  55.584215       NaN          NaN        NaN
30  0.142857  0.143945  0.141558  54.410790       NaN          NaN        NaN
31  0.138393  0.143025  0.141257  49.875176       NaN          NaN        NaN
32  0.133371  0.142076  0.140506  45.300202       NaN          NaN        NaN
33  0.126116  0.140681  0.139135  39.642837 -0.000377     0.001789  -0.002166
34  0.118862  0.139090  0.137205  34.943807 -0.001930     0.001045  -0.002975
35  0.123326  0.138058  0.135883  39.682098 -0.002769     0.000282  -0.003051
36  0.127790  0.137556  0.135112  44.069116 -0.003038    -0.000382  -0.002656
37  0.127790  0.137193  0.134415  44.069116 -0.003215    -0.000949  -0.002266
38  0.128348  0.136495  0.133837  44.652683 -0.003272    -0.001413  -0.001859
39  0.121652  0.135519  0.132676  39.347180 -0.003813    -0.001893  -0.001920

First 40 rows of data from AMZN_historical_data.csv with indicators:

       Close     SMA20     EMA20      RSI14      MACD  MACD_signal  MACD_hist
0   0.097917       NaN       NaN        NaN       NaN          NaN        NaN
1   0.086458       NaN       NaN        NaN       NaN          NaN        NaN
2   0.085417       NaN       NaN        NaN       NaN          NaN        NaN
3   0.081771       NaN       NaN        NaN       NaN          NaN        NaN
4   0.071354       NaN       NaN        NaN       NaN          NaN        NaN
5   0.069792       NaN       NaN        NaN       NaN          NaN        NaN
6   0.075000       NaN       NaN        NaN       NaN          NaN        NaN
7   0.079167       NaN       NaN        NaN       NaN          NaN        NaN
8   0.076563       NaN       NaN        NaN       NaN          NaN        NaN
9   0.075260       NaN       NaN        NaN       NaN          NaN        NaN
10  0.075000       NaN       NaN        NaN       NaN          NaN        NaN
11  0.075521       NaN       NaN        NaN       NaN          NaN        NaN
12  0.073958       NaN       NaN        NaN       NaN          NaN        NaN
13  0.070833       NaN       NaN        NaN       NaN          NaN        NaN
14  0.077083       NaN       NaN  30.391897       NaN          NaN        NaN
15  0.082813       NaN       NaN  37.635728       NaN          NaN        NaN
16  0.084375       NaN       NaN  39.484510       NaN          NaN        NaN
17  0.079167       NaN       NaN  35.685926       NaN          NaN        NaN
18  0.077083       NaN       NaN  34.265358       NaN          NaN        NaN
19  0.080208  0.078737  0.078737  38.235802       NaN          NaN        NaN
20  0.079167  0.077800  0.078778  37.424859       NaN          NaN        NaN
21  0.078646  0.077409  0.078765  37.001880       NaN          NaN        NaN
22  0.075260  0.076901  0.078432  34.289505       NaN          NaN        NaN
23  0.075521  0.076589  0.078154  34.686940       NaN          NaN        NaN
24  0.075521  0.076797  0.077904  34.686940       NaN          NaN        NaN
25  0.076302  0.077122  0.077751  36.029668       NaN          NaN        NaN
26  0.075000  0.077122  0.077489  34.747186       NaN          NaN        NaN
27  0.075521  0.076940  0.077302  35.732987       NaN          NaN        NaN
28  0.075521  0.076888  0.077132  35.732987       NaN          NaN        NaN
29  0.075521  0.076901  0.076979  35.732987       NaN          NaN        NaN
30  0.074479  0.076875  0.076741  34.433540       NaN          NaN        NaN
31  0.077083  0.076953  0.076773  40.278451       NaN          NaN        NaN
32  0.075781  0.077044  0.076679  38.433602       NaN          NaN        NaN
33  0.079427  0.077474  0.076940  45.905515 -0.000362    -0.000402   0.000040
34  0.095573  0.078398  0.078715  65.736768  0.001149    -0.000092   0.001241
35  0.100000  0.079258  0.080742  69.083471  0.002673     0.000461   0.002212
36  0.115104  0.080794  0.084015  77.248611  0.005041     0.001377   0.003664
37  0.116146  0.082643  0.087075  77.686438  0.006922     0.002486   0.004436
38  0.128125  0.085195  0.090984  81.979753  0.009273     0.003843   0.005429
39  0.114583  0.086914  0.093232  66.420963  0.009928     0.005060   0.004868

First 40 rows of data from GOOG_historical_data.csv with indicators:

       Close     SMA20     EMA20      RSI14      MACD  MACD_signal  MACD_hist
0   2.499133       NaN       NaN        NaN       NaN          NaN        NaN
1   2.697639       NaN       NaN        NaN       NaN          NaN        NaN
2   2.724787       NaN       NaN        NaN       NaN          NaN        NaN
3   2.611960       NaN       NaN        NaN       NaN          NaN        NaN
4   2.640104       NaN       NaN        NaN       NaN          NaN        NaN
5   2.687676       NaN       NaN        NaN       NaN          NaN        NaN
6   2.643840       NaN       NaN        NaN       NaN          NaN        NaN
7   2.540727       NaN       NaN        NaN       NaN          NaN        NaN
8   2.549693       NaN       NaN        NaN       NaN          NaN        NaN
9   2.496891       NaN       NaN        NaN       NaN          NaN        NaN
10  2.528273       NaN       NaN        NaN       NaN          NaN        NaN
11  2.490913       NaN       NaN        NaN       NaN          NaN        NaN
12  2.530017       NaN       NaN        NaN       NaN          NaN        NaN
13  2.547950       NaN       NaN        NaN       NaN          NaN        NaN
14  2.548199       NaN       NaN  53.275673       NaN          NaN        NaN
15  2.623417       NaN       NaN  57.836034       NaN          NaN        NaN
16  2.677464       NaN       NaN  60.796858       NaN          NaN        NaN
17  2.776842       NaN       NaN  65.582627       NaN          NaN        NaN
18  2.789544       NaN       NaN  66.151398       NaN          NaN        NaN
19  2.838610  2.622184  2.622184  68.328695       NaN          NaN        NaN
20  2.926282  2.643541  2.651146  71.817115       NaN          NaN        NaN
21  2.972857  2.657302  2.681785  73.487769       NaN          NaN        NaN
22  2.934999  2.667813  2.705900  69.862549       NaN          NaN        NaN
23  2.948448  2.684637  2.729000  70.420789       NaN          NaN        NaN
24  3.009221  2.703093  2.755688  72.866621       NaN          NaN        NaN
25  2.984563  2.717938  2.777486  70.325739       NaN          NaN        NaN
26  2.945460  2.733019  2.793483  66.373111       NaN          NaN        NaN
27  3.159657  2.763965  2.828357  74.746202       NaN          NaN        NaN
28  3.264763  2.799719  2.869919  77.682762       NaN          NaN        NaN
29  3.227901  2.836269  2.904013  74.414571       NaN          NaN        NaN
30  3.302123  2.874962  2.941928  76.553508       NaN          NaN        NaN
31  3.363891  2.918610  2.982115  78.187761       NaN          NaN        NaN
32  3.446332  2.964426  3.026326  80.174047       NaN          NaN        NaN
33  3.414203  3.007739  3.063267  77.222667  0.217632     0.175030   0.042601
34  3.458287  3.053243  3.100888  78.397725  0.222993     0.184623   0.038370
35  3.430392  3.093592  3.132269  75.735263  0.222427     0.192184   0.030244
36  3.368873  3.128162  3.154803  70.082526  0.214542     0.196655   0.017887
37  3.422173  3.160429  3.180267  72.030353  0.210171     0.199358   0.010812
38  3.509346  3.196419  3.211608  74.907771  0.211305     0.201748   0.009557
39  3.536743  3.231326  3.242573  75.752068  0.211971     0.203792   0.008179

First 40 rows of data from META_historical_data.csv with indicators:

        Close    SMA20      EMA20      RSI14      MACD  MACD_signal  MACD_hist
0   27.580000      NaN        NaN        NaN       NaN          NaN        NaN
1   28.240000      NaN        NaN        NaN       NaN          NaN        NaN
2   26.809999      NaN        NaN        NaN       NaN          NaN        NaN
3   26.750000      NaN        NaN        NaN       NaN          NaN        NaN
4   27.709999      NaN        NaN        NaN       NaN          NaN        NaN
5   27.410000      NaN        NaN        NaN       NaN          NaN        NaN
6   27.360001      NaN        NaN        NaN       NaN          NaN        NaN
7   26.260000      NaN        NaN        NaN       NaN          NaN        NaN
8   26.930000      NaN        NaN        NaN       NaN          NaN        NaN
9   26.510000      NaN        NaN        NaN       NaN          NaN        NaN
10  26.049999      NaN        NaN        NaN       NaN          NaN        NaN
11  25.910000      NaN        NaN        NaN       NaN          NaN        NaN
12  26.620001      NaN        NaN        NaN       NaN          NaN        NaN
13  28.000000      NaN        NaN        NaN       NaN          NaN        NaN
14  27.770000      NaN        NaN  51.108521       NaN          NaN        NaN
15  28.760000      NaN        NaN  56.517924       NaN          NaN        NaN
16  29.420000      NaN        NaN  59.717730       NaN          NaN        NaN
17  29.059999      NaN        NaN  57.243262       NaN          NaN        NaN
18  30.590000      NaN        NaN  64.059380       NaN          NaN        NaN
19  31.299999  27.7520  27.752000  66.711412       NaN          NaN        NaN
20  31.719999  27.9590  28.129905  68.205977       NaN          NaN        NaN
21  30.950001  28.0945  28.398485  62.652286       NaN          NaN        NaN
22  30.100000  28.2590  28.560534  57.122825       NaN          NaN        NaN
23  29.850000  28.4140  28.683341  55.569411       NaN          NaN        NaN
24  30.139999  28.5355  28.822070  57.029207       NaN          NaN        NaN
25  29.660000  28.6480  28.901873  53.874066       NaN          NaN        NaN
26  30.730000  28.8165  29.075980  59.282044       NaN          NaN        NaN
27  30.820000  29.0445  29.242077  59.709934       NaN          NaN        NaN
28  31.080000  29.2520  29.417118  60.985456       NaN          NaN        NaN
29  31.540001  29.5035  29.619297  63.204925       NaN          NaN        NaN
30  32.470001  29.8245  29.890793  67.260095       NaN          NaN        NaN
31  30.790001  30.0685  29.976431  55.385329       NaN          NaN        NaN
32  31.240000  30.2995  30.096771  57.547346       NaN          NaN        NaN
33  30.980000  30.4485  30.180888  55.862919  1.212021     1.421569  -0.209549
34  29.730000  30.5465  30.137946  48.511187  1.029767     1.343209  -0.313442
35  28.110001  30.5140  29.944809  40.983457  0.746009     1.223769  -0.477759
36  28.639999  30.4750  29.820541  44.042765  0.557470     1.090509  -0.533039
37  29.049999  30.4745  29.747156  46.359292  0.436107     0.959629  -0.523521
38  28.650000  30.3775  29.642665  44.426932  0.304144     0.828532  -0.524388
39  28.549999  30.2400  29.538602  43.933897  0.189311     0.700688  -0.511377

First 40 rows of data from MSFT_historical_data.csv with indicators:

       Close     SMA20     EMA20      RSI14      MACD  MACD_signal  MACD_hist
0   0.097222       NaN       NaN        NaN       NaN          NaN        NaN
1   0.100694       NaN       NaN        NaN       NaN          NaN        NaN
2   0.102431       NaN       NaN        NaN       NaN          NaN        NaN
3   0.099826       NaN       NaN        NaN       NaN          NaN        NaN
4   0.098090       NaN       NaN        NaN       NaN          NaN        NaN
5   0.095486       NaN       NaN        NaN       NaN          NaN        NaN
6   0.092882       NaN       NaN        NaN       NaN          NaN        NaN
7   0.090278       NaN       NaN        NaN       NaN          NaN        NaN
8   0.092014       NaN       NaN        NaN       NaN          NaN        NaN
9   0.094618       NaN       NaN        NaN       NaN          NaN        NaN
10  0.096354       NaN       NaN        NaN       NaN          NaN        NaN
11  0.095486       NaN       NaN        NaN       NaN          NaN        NaN
12  0.094618       NaN       NaN        NaN       NaN          NaN        NaN
13  0.095486       NaN       NaN        NaN       NaN          NaN        NaN
14  0.096354       NaN       NaN  48.387216       NaN          NaN        NaN
15  0.096354       NaN       NaN  48.387216       NaN          NaN        NaN
16  0.094618       NaN       NaN  45.018991       NaN          NaN        NaN
17  0.095486       NaN       NaN  47.005348       NaN          NaN        NaN
18  0.097222       NaN       NaN  50.831369       NaN          NaN        NaN
19  0.098090  0.096180  0.096180  52.671272       NaN          NaN        NaN
20  0.099826  0.096311  0.096528  56.201333       NaN          NaN        NaN
21  0.100694  0.096311  0.096924  57.892445       NaN          NaN        NaN
22  0.100694  0.096224  0.097283  57.892445       NaN          NaN        NaN
23  0.104167  0.096441  0.097939  64.290516       NaN          NaN        NaN
24  0.105035  0.096788  0.098615  65.693539       NaN          NaN        NaN
25  0.101563  0.097092  0.098896  56.184392       NaN          NaN        NaN
26  0.101563  0.097526  0.099150  56.184392       NaN          NaN        NaN
27  0.099826  0.098003  0.099214  51.831279       NaN          NaN        NaN
28  0.100260  0.098416  0.099314  52.814972       NaN          NaN        NaN
29  0.110243  0.099197  0.100355  68.666312       NaN          NaN        NaN
30  0.117188  0.100239  0.101958  74.966795       NaN          NaN        NaN
31  0.118056  0.101367  0.103491  75.626445       NaN          NaN        NaN
32  0.114583  0.102365  0.104547  67.915056       NaN          NaN        NaN
33  0.111979  0.103190  0.105255  62.748695  0.004669     0.002862   0.001806
34  0.110243  0.103884  0.105730  59.499148  0.004501     0.003190   0.001311
35  0.110243  0.104579  0.106160  59.499148  0.004319     0.003416   0.000903
36  0.109375  0.105317  0.106466  57.764472  0.004058     0.003544   0.000513
37  0.110243  0.106055  0.106826  59.050185  0.003876     0.003611   0.000265
38  0.110243  0.106706  0.107151  59.050185  0.003689     0.003626   0.000063
39  0.111111  0.107357  0.107528  60.446616  0.003570     0.003615  -0.000045

First 40 rows of data from NVDA_historical_data.csv with indicators:

       Close     SMA20     EMA20      RSI14      MACD  MACD_signal  MACD_hist
0   0.041016       NaN       NaN        NaN       NaN          NaN        NaN
1   0.045313       NaN       NaN        NaN       NaN          NaN        NaN
2   0.041797       NaN       NaN        NaN       NaN          NaN        NaN
3   0.041667       NaN       NaN        NaN       NaN          NaN        NaN
4   0.041536       NaN       NaN        NaN       NaN          NaN        NaN
5   0.039583       NaN       NaN        NaN       NaN          NaN        NaN
6   0.040365       NaN       NaN        NaN       NaN          NaN        NaN
7   0.037240       NaN       NaN        NaN       NaN          NaN        NaN
8   0.038021       NaN       NaN        NaN       NaN          NaN        NaN
9   0.040104       NaN       NaN        NaN       NaN          NaN        NaN
10  0.041276       NaN       NaN        NaN       NaN          NaN        NaN
11  0.039844       NaN       NaN        NaN       NaN          NaN        NaN
12  0.038281       NaN       NaN        NaN       NaN          NaN        NaN
13  0.037891       NaN       NaN        NaN       NaN          NaN        NaN
14  0.041146       NaN       NaN  50.264116       NaN          NaN        NaN
15  0.043490       NaN       NaN  54.891053       NaN          NaN        NaN
16  0.043750       NaN       NaN  55.386829       NaN          NaN        NaN
17  0.041406       NaN       NaN  50.046509       NaN          NaN        NaN
18  0.042057       NaN       NaN  51.446704       NaN          NaN        NaN
19  0.043490  0.040964  0.040964  54.471883       NaN          NaN        NaN
20  0.043750  0.041100  0.041229  55.019488       NaN          NaN        NaN
21  0.045833  0.041126  0.041667  59.248449       NaN          NaN        NaN
22  0.049479  0.041510  0.042411  65.383338       NaN          NaN        NaN
23  0.047917  0.041823  0.042936  61.136992       NaN          NaN        NaN
24  0.045703  0.042031  0.043199  55.622793       NaN          NaN        NaN
25  0.045964  0.042350  0.043463  56.125179       NaN          NaN        NaN
26  0.045573  0.042611  0.043664  55.118483       NaN          NaN        NaN
27  0.042448  0.042871  0.043548  47.747130       NaN          NaN        NaN
28  0.041536  0.043047  0.043356  45.821178       NaN          NaN        NaN
29  0.043880  0.043236  0.043406  51.262554       NaN          NaN        NaN
30  0.044531  0.043398  0.043513  52.683884       NaN          NaN        NaN
31  0.045964  0.043704  0.043747  55.743457       NaN          NaN        NaN
32  0.045182  0.044049  0.043883  53.702697       NaN          NaN        NaN
33  0.043229  0.044316  0.043821  48.888877  0.001159     0.001601  -0.000442
34  0.042448  0.044381  0.043690  47.071744  0.000929     0.001466  -0.000537
35  0.044271  0.044421  0.043746  51.594395  0.000885     0.001350  -0.000465
36  0.042839  0.044375  0.043659  48.116318  0.000725     0.001225  -0.000500
37  0.043099  0.044460  0.043606  48.791311  0.000613     0.001103  -0.000490
38  0.043620  0.044538  0.043607  50.189715  0.000559     0.000994  -0.000435
39  0.043750  0.044551  0.043621  50.552555  0.000521     0.000899  -0.000378

First 40 rows of data from TSLA_historical_data.csv with indicators:

       Close     SMA20     EMA20      RSI14      MACD  MACD_signal  MACD_hist
0   1.592667       NaN       NaN        NaN       NaN          NaN        NaN
1   1.588667       NaN       NaN        NaN       NaN          NaN        NaN
2   1.464000       NaN       NaN        NaN       NaN          NaN        NaN
3   1.280000       NaN       NaN        NaN       NaN          NaN        NaN
4   1.074000       NaN       NaN        NaN       NaN          NaN        NaN
5   1.053333       NaN       NaN        NaN       NaN          NaN        NaN
6   1.164000       NaN       NaN        NaN       NaN          NaN        NaN
7   1.160000       NaN       NaN        NaN       NaN          NaN        NaN
8   1.136667       NaN       NaN        NaN       NaN          NaN        NaN
9   1.209333       NaN       NaN        NaN       NaN          NaN        NaN
10  1.322667       NaN       NaN        NaN       NaN          NaN        NaN
11  1.326000       NaN       NaN        NaN       NaN          NaN        NaN
12  1.376000       NaN       NaN        NaN       NaN          NaN        NaN
13  1.460667       NaN       NaN        NaN       NaN          NaN        NaN
14  1.353333       NaN       NaN  39.206237       NaN          NaN        NaN
15  1.348000       NaN       NaN  39.004186       NaN          NaN        NaN
16  1.400000       NaN       NaN  42.135583       NaN          NaN        NaN
17  1.419333       NaN       NaN  43.301036       NaN          NaN        NaN
18  1.396667       NaN       NaN  42.227207       NaN          NaN        NaN
19  1.370000  1.324767  1.324767  40.940802       NaN          NaN        NaN
20  1.381333  1.314200  1.330154  41.752911       NaN          NaN        NaN
21  1.356667  1.302600  1.332679  40.449219       NaN          NaN        NaN
22  1.329333  1.295867  1.332360  38.996100       NaN          NaN        NaN
23  1.394667  1.301600  1.338294  44.159764       NaN          NaN        NaN
24  1.463333  1.321067  1.350203  49.041800       NaN          NaN        NaN
25  1.417333  1.339267  1.356596  46.132039       NaN          NaN        NaN
26  1.363333  1.349233  1.357238  42.913178       NaN          NaN        NaN
27  1.306000  1.356533  1.352358  39.742513       NaN          NaN        NaN
28  1.306667  1.365033  1.348006  39.798239       NaN          NaN        NaN
29  1.268667  1.368000  1.340450  37.661257       NaN          NaN        NaN
30  1.193333  1.361533  1.326439  33.787878       NaN          NaN        NaN
31  1.173333  1.353900  1.311858  32.822732       NaN          NaN        NaN
32  1.221333  1.346167  1.303236  37.441388       NaN          NaN        NaN
33  1.252000  1.335733  1.298357  40.267058 -0.017575     0.012807  -0.030381
34  1.276667  1.331900  1.296291  42.516169 -0.016728     0.006900  -0.023628
35  1.251333  1.327067  1.292009  40.816350 -0.017895     0.001941  -0.019836
36  1.252667  1.319700  1.288262  40.950221 -0.018499    -0.002147  -0.016352
37  1.273333  1.312400  1.286840  43.097644 -0.017113    -0.005140  -0.011973
38  1.342000  1.309667  1.292094  49.649706 -0.010354    -0.006183  -0.004171
39  1.280000  1.305167  1.290942  44.650487 -0.009887    -0.006924  -0.002963

In [105]:

# Function to calculate financial metrics
def calculate_metrics(df):
    # Calculate daily returns
    returns = df['Adj Close'].pct_change()

    # Calculate daily volatility
    volatility = returns.std()

    # Annualize the volatility (assuming 252 trading days in a year)
    annual_volatility = volatility * (252 ** 0.5)

    # Calculate the average daily return
    avg_daily_return = returns.mean()

    # Assume a risk-free rate (e.g., 0.01 for 1%)
    risk_free_rate = 0.01

    # Calculate the daily excess return
    excess_return = avg_daily_return - risk_free_rate / 252

    # Calculate the Sharpe Ratio
    sharpe_ratio = excess_return / volatility

    # Annualize the Sharpe Ratio
    annual_sharpe_ratio = sharpe_ratio * (252 ** 0.5)

    return annual_volatility, annual_sharpe_ratio

# Loop through each file, apply metrics calculation, and display results
for file_name in file_names:
    file_path = os.path.join(base_dir, file_name)
    if os.path.exists(file_path):
        df = load_data(file_path)
        annual_volatility, annual_sharpe_ratio = calculate_metrics(df)
        print(f"\nFinancial metrics for {file_name}:")
        print(f"Annualized Volatility: {annual_volatility}")
        print(f"Annualized Sharpe Ratio: {annual_sharpe_ratio}")
    else:
        print(f"Error: The file at {file_path} does not exist.")

Financial metrics for AAPL_historical_data.csv:
Annualized Volatility: 0.44277022107168956
Annualized Sharpe Ratio: 0.601219948516623

Financial metrics for AMZN_historical_data.csv:
Annualized Volatility: 0.5624201280659038
Annualized Sharpe Ratio: 0.7510309340753276

Financial metrics for GOOG_historical_data.csv:
Annualized Volatility: 0.3066674797416653
Annualized Sharpe Ratio: 0.8127579907511236

Financial metrics for META_historical_data.csv:
Annualized Volatility: 0.38538523161401883
Annualized Sharpe Ratio: 0.7981639657394672

Financial metrics for MSFT_historical_data.csv:
Annualized Volatility: 0.33500424885616287
Annualized Sharpe Ratio: 0.827669714107291

Financial metrics for NVDA_historical_data.csv:
Annualized Volatility: 0.6010767751349121
Annualized Sharpe Ratio: 0.79922575643763

Financial metrics for TSLA_historical_data.csv:
Annualized Volatility: 0.5694405497796355
Annualized Sharpe Ratio: 0.8829443764029734